.App {
  text-align: center;
  background-color: #000;
  height: 100vh;
}

.d-flex {
  display: flex;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:hover, .btn-light:focus{
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.mx-5 {
  margin-right: .5rem;
  margin-left: .5rem;
}